* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin-bottom: 15px;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #114f13;
    color: #F9FAF8;
    height: 60px
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: lightgreen;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #114f13;
    min-height: 500px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    min-width: 500px;
    max-height: 300px;
    border-radius: 10px;
}

.hero button {
    background-color: #40b533;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 40px;
}

.hero .hero-text {
    max-width: 450px;
    max-height: 300px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

.activities h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #114f13;
    line-height: 1.2;
    margin: 36px 0;
}

.activities .container {
    display: flex;
    justify-content: space-evenly;
    min-width: 1100px
}

.activities .container img {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border: solid 4px #40b533;
    border-radius: 10px;
}

.boxes {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    min-height: 450px;
    display: flex;
    align-items: center;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote .container .credit {
    font-style: normal;
    font-weight: bold;
}

.call-to-action {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action .container {
    background-color: #40b533;
    height: 100px;
    width: 1100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action .container h5 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.call-to-action .container p {
    color: #E5E7EB;
    font-size: 18px;
}

.call-to-action .container button {
    background-color: #40b533;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: solid 2px #fff;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 40px;
}